@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;
.hobby {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: rem(96) 0;
    & h2 {
        position: relative;
        margin-bottom: rem(60);
        font-weight: 300;
        font-size: rem(24);
        text-transform: uppercase;
        color: $black;
        letter-spacing: 2px;
    }
    &__inner img {
        width: 100%;
    }
    &__TextBox {
        & h3 {
            font-size: rem(24);
            margin: rem(26) 0;
        }
        & p {
            font-size: rem(18);
            line-height: 30px;
        }
    }
}
@media (min-width: rem(414)) {
    .hobby {
        & h2 {
            font-size: rem(30);
        }
    }
}

@media (min-width: rem(768)) {
    .hobby {
       &__TextBox {
        & h3 {
            font-size: rem(28);
        }
       }
    }
}
@media (min-width: rem(992)) {
    .hobby {
        &__inner {
            display: flex;
            align-items: flex-start;
            gap: rem(24);
            & img {
                width: 50%;
            }
        }
        &__TextBox {
            width: 50%;
        }
    }
}