@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;
.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transition: background-color 0.3s;
	z-index: 100;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;
		padding: 0 rem(15);
	}
	&DropdownLink {
		display: flex;
		align-items: center;
		justify-content: center;
		& + ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			& li a {
				font-size: rem(20);
				padding: rem(4) rem(14);
			}
		}
	}

	&Mobile {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: $black;
		transform: translateX(102%);
		transition: transform 0.3s;
		z-index: 10;
		&.navActive {
			transform: translateX(0);
		}
		& li a {
			position: relative;
			font-size: rem(22);
			color: $white;
			text-transform: uppercase;
			margin: rem(28);
			padding: rem(14);
			&:hover {
				color: $deep-heaven;
			}
		}
	}
	&Desktop {
		display: none;
	}
}

.navShadow {
	background-color: rgba(53, 53, 53, 0.8);
}

@media (min-width: rem(768)) {
	.nav {
		&Desktop {
			display: flex;
			align-items: center;
			gap: rem(24);
			&DropdownLi {
				position: relative;
				&:hover ul {
					opacity: 1;
					transform: scaleY(1);
				}
				& ul {
					position: absolute;
					top: 93px;
					left: -5px;
					opacity: 0;
					transform: scaleY(0);
					text-align: center;
					background-color: $on-hover;
					transform-origin: 50% 0;
					transition: opacity 0.3s, transform 0.3s;
					& li a {
						padding: rem(14);
						margin: rem(8);
					}
				}
			}

			& li a {
				position: relative;
				color: $white;
				font-size: rem(18);
				padding: rem(30) 0;
				&::before,
				&::after {
					content: '';
					position: absolute;
					width: 0;
					bottom: 5px;
					border-bottom: 2px solid $deep-heaven;
				}
				&::before {
					right: 50%;
					transition: width 0.3s;
				}
				&::after {
					left: 50%;
					transition: width 0.3s;
				}
				&:hover::before,
				&:hover::after {
					width: 50%;
				}
			}
		}
		
		&Mobile {
			display: none;
		}
		&Mobile li a {
			&:hover {
				color: $white;
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 0;
				bottom: 0;
				border-bottom: 2px solid $deep-heaven;
			}
			&::before {
				right: 50%;
				transition: width 0.3s;
			}
			&::after {
				left: 50%;
				transition: width 0.3s;
			}
			&:hover::before,
			&:hover::after {
				width: 50%;
			}
		}
	}
}
